.creator-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    gap: 2rem;
    width: fit-content;
    padding: 20px;
}

.game-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 2rem;
    width: fit-content;
}

.clear-button-text {
    padding-left: 1rem;
}

.copy-game-link {
    width: 15rem;
}

.open-game-link {
    width: 15rem;
}

.validation-message {
    margin: 1rem;
    padding: 0.5rem;
    min-width: 15%;
    align-items: center;
    justify-content: center;
}

.validation-message .content {
    margin: 0rem;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
}

.validation-message.invalid {
    background-color: #ff000048;
}

.validation-message.valid {
    background-color: #2ff0396b;
}
