.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.one-away-dialog {
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.one-away-text {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
