@use "./common.scss" as *;


.grid-row {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  padding: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  gap: 0;
}

.grid-row.tiles {
  flex-direction: row;
  gap: 1.5rem;
  padding: 0rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem;
}

@media (max-width: 640px) {
  .grid {
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .grid-row {
    width: 100%;
    padding-left: initial;
    padding-right: initial;
  }

  .grid-row.tiles {
    display: grid;
    width: calc(100% - 0.5rem);
    padding: 0rem;
    gap: 0.5rem;
    /* create one column per tile, each taking an equal fraction of the row */
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

.grid-row.solved {
    transition-duration: 0.5s;
    padding-bottom: 0.5rem;
    margin-top: -1rem;
}

.grid-row.solved:nth-child(1n) {
  background-color: $saffron;
}
.grid-row.solved:nth-child(2n) {
  background-color: $yinmn-blue;
}
.grid-row.solved:nth-child(3n) {
  background-color: $razzmatazz;
}
.grid-row.solved:nth-child(4n) {
  background-color: $mint;
}
.grid-row.solved:nth-child(5n) {
  background-color: $tomato;
}

.grid-row.solved:last-child {
  margin-bottom: 2rem;
}
.grid-row.solved:first-child {
  margin-top: 0rem;
}

.category-name {
    font-size: 1.5rem;
}
