@use "./common.scss" as *;


.grid-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  gap: 30px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.grid-row.solved {
    transition-duration: 0.5s;
}

.grid-row.solved:nth-child(1n) {
  background-color: $saffron;
}
.grid-row.solved:nth-child(2n) {
  background-color: $yinmn-blue;
}
.grid-row.solved:nth-child(3n) {
  background-color: $razzmatazz;
}
.grid-row.solved:nth-child(4n) {
  background-color: $mint;
}
.grid-row.solved:nth-child(5n) {
  background-color: $tomato;
}
