@use "./common.scss" as *;


.grid-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.grid-row.solved {
    transition-duration: 0.5s;
}

.grid-row.solved:nth-child(1n) {
  background-color: $saffron;
}
.grid-row.solved:nth-child(2n) {
  background-color: $yinmn-blue;
}
.grid-row.solved:nth-child(3n) {
  background-color: $razzmatazz;
}
.grid-row.solved:nth-child(4n) {
  background-color: $mint;
}
.grid-row.solved:nth-child(5n) {
  background-color: $tomato;
}


@media (max-width: 640px) {
  .grid {
    width: 100%;
    padding: 0.5rem;
  }

  .grid-row {
    display: grid;
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
    gap: 0.25rem;
    /* create one column per tile, each taking an equal fraction of the row */
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
